IF EXISTS ( SELECT * FROM  sys.objects WHERE   object_id = OBJECT_ID(N'TestData') AND type IN ( N'U' ) )
DROP TABLE [TestData]
CREATE TABLE [dbo].[TestData](
	[id] [varchar](50) NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TestData] ([id], [first_name], [last_name], [Gender], [Company_Name]) VALUES (N'901', N'Templeton', N'Naylor', N'Male', N'Gigaclub')
INSERT [dbo].[TestData] ([id], [first_name], [last_name], [Gender], [Company_Name]) VALUES (N'902', N'Panchito', N'Thickin', N'Male', N'Rhyloo')
INSERT [dbo].[TestData] ([id], [first_name], [last_name], [Gender], [Company_Name]) VALUES (N'903', N'Roma', N'Wintle', N'Male', N'Feedfire')
GO
