IF (EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND  TABLE_NAME = 'CUSTOMER'))
drop table CUSTOMER
CREATE TABLE [dbo].[CUSTOMER](
	[CustId] [varchar](7) NULL,
	[CustomerName] [varchar](20) NULL,
	[CustomerCity] [varchar](15) NULL,
	[CustomerPhone] [varchar](14) NULL,
	[Subscription] [varchar](12) NULL,
	[Dummy] [varchar](2) NULL
) ON [PRIMARY]
GO
IF (EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND  TABLE_NAME = 'XMLDATA'))
drop table XMLDATA
CREATE TABLE [dbo].[XMLDATA](
	[id] [int] NULL,
	[first_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[Company_Name] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[CUSTOMER] ([CustId], [CustomerName], [CustomerCity], [CustomerPhone], [Subscription], [Dummy]) VALUES (N'1      ', N'Tom Nicolas         ', N'New York       ', N'1254856200    ', N'Free        ', NULL)
INSERT [dbo].[CUSTOMER] ([CustId], [CustomerName], [CustomerCity], [CustomerPhone], [Subscription], [Dummy]) VALUES (N'101    ', N'Abhishek Sinha      ', N'Dehradun       ', N'8477068142    ', N'Paid        ', NULL)
INSERT [dbo].[CUSTOMER] ([CustId], [CustomerName], [CustomerCity], [CustomerPhone], [Subscription], [Dummy]) VALUES (N'140    ', N'Bob                 ', N'Salt Lake City ', N'4785214520    ', N'Paid        ', NULL)
INSERT [dbo].[XMLDATA] ([id], [first_name], [last_name], [Gender], [Company_Name]) VALUES (1, N'Dorothy', N'Lawson', N'Female', N'Youtags')
INSERT [dbo].[XMLDATA] ([id], [first_name], [last_name], [Gender], [Company_Name]) VALUES (2, N'Frances', N'Oliver', N'Female', N'Blogtag')
INSERT [dbo].[XMLDATA] ([id], [first_name], [last_name], [Gender], [Company_Name]) VALUES (3, N'Marilyn', N'Garrett', N'Female', N'Voomm')
