IF (EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND  TABLE_NAME = 'Customer'))
BEGIN
    drop table Customer
END
go
/****** Object:  Table [dbo].[Customer]    Script Date: 1/5/2022 7:51:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[gender] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([Id], [first_name], [last_name], [email], [gender]) VALUES (1, N'Cosme', N'Goor', N'cgoor0@xrea.com', N'Agender')
INSERT [dbo].[Customer] ([Id], [first_name], [last_name], [email], [gender]) VALUES (2, N'Kerry', N'Fellos', N'kfellos1@hc360.com', N'Non-binary')
INSERT [dbo].[Customer] ([Id], [first_name], [last_name], [email], [gender]) VALUES (3, N'Evy', N'Boden', N'eboden2@bravesites.com', N'Agender')
GO
